h1,footer {
    text-align: center;
    padding: 2.5rem;
    margin: 0;, left: 0;
    flex-wrap: wrap;
    justify-content:center;
    background: cornflowerblue;
    
}
.btn{
    background-color: cornflowerblue;
    padding: .7rem;
    border-radius: .5rem;
    font-style: italic;
    font-size: 1.5rem;
  
  }

h4 {
    text-align: center;

    font-size: 1.5rem;
}
.img {
    width: 30rem;
    height: 30rem;
    justify-content: center;
    margin-left: 18.5rem;
    border-radius: 50%;
    cursor: pointer;
}